[Unit]
Description=Morky
Requires=morky-haproxy-net.network
After=morky-haproxy-net.network

[Container]
ContainerName=morky
Image=localhost/morky
PodmanArgs=--privileged
Network=morky-haproxy-net

Volume=%t/podman/podman.sock:/run/podman/podman.sock
Volume=%h/.local/share/morky:/data
Volume=morky-buildkit.volume:/var/lib/buildkit

Environment=MORKY_DATA_DIR=/data
Environment=MORKY_HOST_DATA_DIR=%h/.local/share/morky
Environment=DB_PATH=/data/data/db-sqlite.db
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
Environment=APP_HOST=0.0.0.0
Environment=PORT=9764
Environment=RUST_LOG=info

PublishPort=9764:9764

[Service]
Environment=CONTAINERS_CONF=/opt/podman/etc/containers/containers.conf
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
